<!DOCTYPE html>
<html id="emailbutler">
  <head>
    <title>Emailbutler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'emailbutler', media: 'all' %>
  </head>
  <body id="emailbutler-body">
    <%= render 'emailbutler/ui/shared/header' %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'emailbutler/ui/shared/footer' %>
  </body>
</html>
