<!DOCTYPE html>
<html id="emailbutler">
  <head>
    <title>Emailbutler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400..500&display=swap">
    <link rel="stylesheet" type="text/css" href="/emailbutler/styles.css" >
  </head>
  <body>
    <%= render 'emailbutler/ui/shared/header' %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'emailbutler/ui/shared/footer' %>
  </body>
</html>
